<!DOCTYPE html>
<html>
<head>
    <title>My Account</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<header>
    <h1>myEduPath</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/account">My Account</a>
        <a href="/logout">Logout</a>
    </nav>
</header>

<section class="home-section">
    <h2>Welcome, {{ user.name }}</h2>

    <div class="feature">
        <p><b>Email:</b> {{ user.email }}</p>
        <p><b>Role:</b> {{ user.role }}</p>
    </div>
</section>

</body>
</html>
