<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>College Details | myEduPath</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="navbar">
  <div class="nav-container">

    <a href="/" class="logo-text">
      myEdu<span>Path</span>
    </a>

    <div class="nav-links">
      <a href="/">Home</a>
      <a href="/courses">Courses</a>
      <a href="/colleges" class="active">Colleges</a>
      <a href="/jobs">Jobs</a>
      <a href="/contact">Contact</a>
    </div>

  </div>
</div>

<div class="college-details-wrapper">
  <div class="college-details-card">

        <h2>{{ college.college_name }}</h2>

        <p>📍 <b>Location:</b> {{ college.location }}</p>

        {% if college.university %}
        <p>🎓 <b>University:</b> {{ college.university }}</p>
        {% endif %}

        {% if college.rating %}
        <p>⭐ <b>Rating:</b> {{ college.rating }}</p>
        {% endif %}

        <hr style="margin:20px 0;">

        <h3>📚 Courses Offered</h3>

        {% if courses %}
            <ul class="course-list">
                {% for course in courses %}
                    <li>
                        <a href="/course/{{ course.id }}">
                            {{ course.course_name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No courses linked yet.</p>
        {% endif %}

        <br>
       <a href="/colleges" class="back-btn">← Back to Colleges</a>

    </div>
</div>
</section>

<footer>
    <p>© 2026 myEduPath | BCA Final Year Project</p>
</footer>

</body>
</html>
