<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact | myEduPath</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>

<section class="hero home-hero contact-hero">

    <a href="/" class="back-home-btn">← Back to Home</a>

    <h2>Need help?</h2>
    <p>Confused what course to choose? We’re happy to help 😊</p>
</section>


<section class="home-section">
    <form id="contactForm" class="contact-form">
        <input type="text" id="name" placeholder="Your Name" required>
        <input type="email" id="email" placeholder="Your Email" required>
        <input type="text" id="subject" placeholder="Subject" required>
        <textarea id="message" placeholder="Your Message" required></textarea>

        <button type="submit" class="btn">Send Message</button>
        <p id="statusMsg"></p>
    </form>
</section>

<div class="social-contact">
    <h3>Or connect with us directly</h3>

    <div class="social-icons">

        <!-- WhatsApp -->
        <a href="https://wa.me/917025893813" target="_blank" class="whatsapp-btn">
            <img src="https://cdn-icons-png.flaticon.com/512/733/733585.png" alt="WhatsApp">
            Chat on WhatsApp
        </a>

        <!-- Instagram -->
        <a href="https://instagram.com/my_edupath" target="_blank" class="insta-btn">
            <img src="https://cdn-icons-png.flaticon.com/512/733/733558.png" alt="Instagram">
            Follow on Instagram
        </a>

    </div>
</div>


<footer>
    <p>© 2026 myEduPath | BCA Final Year Project</p>
</footer>

<script>
document.getElementById("contactForm").addEventListener("submit", function(e) {
    e.preventDefault();

    const data = {
        name: document.getElementById("name").value,
        email: document.getElementById("email").value,
        subject: document.getElementById("subject").value,
        message: document.getElementById("message").value
    };

    fetch("/api/contact", {
         method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify(data)
    })
    .then(res => res.json())
    .then(response => {
        if (response.success) {
            document.getElementById("statusMsg").innerText =
                "Message sent successfully ✅";
            document.getElementById("contactForm").reset();
        } else {
            document.getElementById("statusMsg").innerText =
                "Something went wrong ❌";
        }
    })
    .catch(() => {
        document.getElementById("statusMsg").innerText =
            "Server error ❌";
    });
});
</script>

</body>
</html>
