<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Courses | myEduPath</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<section class="hero home-hero">
    <h2>Explore Courses</h2>
    <p>Browse academic and professional courses to shape your future</p>

    <div class="search-box">
        <input
            type="text"
            id="searchInput"
            placeholder="Search courses..."
            onkeyup="searchCourses()"
        >
        <button class="btn">Search</button>
    </div>
</section>

<section class="home-section">
    <h2 class="section-title">All Courses</h2>
</section>

<section class="home-section">
    <div id="courseContainer" class="course-grid">
        <p>Loading courses...</p>
    </div>
</section>

<footer>
    <p>© 2026 myEduPath | BCA Final Year Project</p>
</footer>

<script>
let allCourses = [];

// FETCH COURSES FROM API
fetch("/api/courses")
    .then(res => res.json())
    .then(data => {
        allCourses = data;
        displayCourses(allCourses);
    })
    .catch(() => {
        document.getElementById("courseContainer").innerHTML =
            "<p>Failed to load courses ❌</p>";
    });

// DISPLAY COURSES

function displayCourses(courses) {
    const container = document.getElementById("courseContainer");
    container.innerHTML = "";

    if (courses.length === 0) {
        container.innerHTML = "<p>No courses found</p>";
        return;
    }

    courses.forEach(course => {
        container.innerHTML += `
            <div class="course-card">
                <h3>${course.course_name}</h3>
                <p>${course.description}</p>
                <p><b>Duration:</b> ${course.duration}</p>

               <a href="/course/${course.id}" class="btn small-btn">
    View Details
</a>

                </a>
            </div>
        `;
    });
}

// SEARCH COURSES
function searchCourses() {
    const keyword = document.getElementById("searchInput").value.toLowerCase();
    const filtered = allCourses.filter(course =>
        course.course_name.toLowerCase().includes(keyword)
    );
    displayCourses(filtered);
}
</script>

</body>
</html>
