<!DOCTYPE html>
<html>
<head>
    <title>Dashboard | myEduPath</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>


<section class="home-section">
    <h2>Welcome, {{ user.name }}</h2>
<p>Email: {{ user.email }}</p>

<div class="dashboard-actions">
    <a href="/jobs" class="btn-primary">Browse Jobs</a>
    <a href="/account/edit" class="btn-outline">Edit Profile</a>
</div>


        <div class="feature">
            <h3>📄 Resume</h3>
            <p>Upload or update your resume</p>
        </div>

        <div class="feature">
            <h3>📌 Applications</h3>
            <p>Track your applied jobs</p>
        </div>
    </div>
</section>

</body>
</html>
