<!DOCTYPE html>
<html>
<head>
    <title>Login | myEduPath</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<h2>User Login</h2>

<form action="{{ url_for('login') }}" method="POST">
    <input type="email" name="email" placeholder="Email" required><br><br>
    <input type="password" name="password" placeholder="Password" required><br><br>
    <button type="submit" class="btn">Login</button>
</form>

<p>New user? <a href="{{ url_for('signup') }}">Create account</a></p>

</body>
</html>
