<!DOCTYPE html>
<html>
<head>
    <title>Sign Up | myEduPath</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>

<h2>Create Account</h2>

<form action="http://127.0.0.1:5000/signup" method="POST">
    <input name="name" placeholder="Full Name" required><br><br>
    <input name="email" placeholder="Email" required><br><br>
    <input type="password" name="password" placeholder="Password" required><br><br>
    <button class="btn">Sign Up</button>
</form>

</body>
</html>
